# Ignore SSH keys  
*.pem  
*.key

# 데이터 및 대용량 파일 제외
*.csv

# 모델 파일 제외
best_model/
model/

# 캐시 파일 및 로그 제외
__pycache__/
wandb/

# 기타 대용량 파일 제외
*.h5
*.safetensors
*.log

# pip install -r requirements.txt
